#title {
  text-align: start;
}
.custom_pointer{
  cursor: pointer;
}

.CampaignData {
  text-align: start;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.CampaignData td, #CampaignData th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.CampaignData th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: start;
  background-color: #f2f2f2;
  color: black;
  text-transform: capitalize;
}
